.container,
.customerContainer {
  display: flex;
  flex-direction: column;
}

.label {
  font-family: "Inter";
  font-weight: var(--font-weight-medium);
  font-size: var(--font-size-medium);
  line-height: 19px;
  margin-bottom: 10px;
}

.input {
  border-radius: var(--border-radius-large);
  border: none;
  outline: 1px solid var(--border-color);
  padding: 15px;
  font-family: var(--font-family);
  font-weight: var(--font-weight-normal);
  font-size: var(--font-size-medium);
  line-height: 19px;
}

.input::placeholder {
  color: var(--text-gray);
}

.container + .container {
  margin-top: 36px;
}

.customerContainer + .customerContainer {
  margin-top: 15px;
}
.errorText {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 3px;
  flex-wrap: nowrap;
  margin-top: 4px;
  font-weight: var(--font-weight-light);
  font-size: var(--font-size-small);
  line-height: 17px;
  color: var(--text-error);
}

.isCustomer {
  background-color: var(--theme-gray);
  border: none;
  padding: 11px 13px;
  font-weight: var(--font-weight-normal);
  font-size: var(--font-size-medium);
  line-height: 19px;
  color: var(--text-black);
}
