.container {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  width: 25%;
  height: 100%;
  padding: 81px 65px;
}

.title {
  font-weight: var(--font-weight-medium);
  font-size: var(--font-size-xxlarge);
  line-height: 29px;
  text-decoration-line: underline;
  color: var(--text-black);
  margin-bottom: 33px;
}
